#bio {
    padding-top: 10vw;
}

#bio section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10vw 10vw;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 200px;
}

#bio > h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

#bio .left p {
    text-indent: 50px;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    max-width: 600px;
    line-height: 1.6;
}

#bio img {
    border: solid black;
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
}

#bio .animate-on-scroll-top {
    opacity: 0;
}

#bio .visible {
    transform: translateY(50px);
    opacity: 0;
    animation: slideTop .8s ease-in-out forwards .5s;
}

@media (max-width: 980px) {
    #bio section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5vw;
        max-height: 1000px;
    }

    #bio .left p {
        font-size: medium;
        max-width: 100%;
        text-indent: 0;
    }

    #bio img {
        max-width: 40%; /* Adjusted for smaller screens */
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
