html{scroll-behavior: smooth;}

:root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 248, 249);
}

#social_links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#social_links > a {
    cursor: pointer;
}

#social_links a img {
    width: 50px;
}

#projects {
    margin: 100px 0;
    text-align: center;
}

#projects h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #333;
}

/* Container de projetos */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

/* Estilização do card do projeto */
.project {
    position: relative;
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.project:hover {
    transform: translateY(-8px);
}

/* Imagem do projeto */
.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Informações do projeto */
.project-info {
    padding: 15px;
    text-align: center;
}

.project-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1rem;
    color: #666;
}

/* Tecnologias utilizadas */
.project-info-technologies {
    margin-top: 10px;
}

.project-info-technologies img {
    width: 40px;
    margin: 5px;
}

/* Projeto em breve */
.project-coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 350px;
    background: #f4f4f4;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}
#notifications__copiedToClipboard {
    z-index: 3;
    position: fixed;
    bottom: -100px; /* Inicialmente escondido abaixo da tela */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombras para dar destaque */
}

#contact-email button {
    cursor: pointer;
    border: none;
    background: none;
}


footer {
    position: absolute;
    color: rgb(46, 46, 46);
    width: 100%;
    text-align: center;
    padding: 40px 0 50px 0;
}
